<form>
    <tr>  
      <td>Sort by postal code</td>  
      <td class="align-middle">
          <select type="text" name="menuId" [(ngModel)]="sortId" [ngModelOptions]="{standalone: true}">
            <option *ngFor="let post of posts" value="{{ post.id }}">
              {{ post.code }}
            </option>
          </select>
        </td>
        <button class="btn btn-primary" (click)="filter(sortId)">Filter</button>
        <button class="btn btn-primary" (click)="resetFilter()">Remove Filter</button>
      </tr>  
  </form>

<table id="menu" class="table table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">Weight</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Info</th>
        <th scope="col">Post</th>
      </tr>
    </thead>
    <tbody>
      <tr class="p-3" *ngFor="let parcel of parcels">
        <td class="ps-3 pe-3">{{ parcel.weight }} g.</td>
        <td class="ps-3 pe-3">{{ parcel.phoneNumber }}</td>
        <td class="ps-3 pe-3">{{ parcel.text }}</td>
        <td class="ps-3 pe-3">{{ parcel.post.code }}</td>
        <button class="btn btn-danger" (click)="deleteParcel(parcel)">Delete</button>
        <button class="btn btn-warning" (click)="ShowForm(parcel)">Edit</button>
      </tr>
    </tbody>
  </table>
<button class="btn btn-primary" (click)="EnableForm()">Add</button>

<form #regForm="ngForm">  
  <div class="container" *ngIf="editCustomer">   
    <table class="table table-condensed">  
      <tbody>  
        <tr>  
          <td>Weight</td>  
          <td><input type="number" name="weight" class="form-control" [(ngModel)]='weight' placeholder="Weight in grams" ></td>  
          </tr>  
          <tr>  
          <td>Phone Number</td>  
          <td><input type="number" name="phoneNumber" class="form-control" [(ngModel)]='phoneNumber' placeholder="e.g. 864544964"></td>  
          </tr>  
          <tr>  
          <td>Information</td>  
          <td><input type="text" name="text" class="form-control" [(ngModel)]='text' placeholder="Name, package, fragility"></td>  
          </tr> 
          <tr>  
            <td>Post Selection</td>  
            <td class="align-middle">
                <select name="postId" [(ngModel)]="postId" [ngModelOptions]="{standalone: true}" class="w-50">
                  <option *ngFor="let post of posts" value="{{ post.id }}">
                    {{ post.code }}
                  </option>
                </select>
              </td>
            </tr>  
          <tr> 
            <td><input type="hidden" name="id" [(ngModel)]='id'></td>  
            <td><input class="form-control col-sm-2" id="btn1" disabled="false" type="button" value="Save" (click)="updateParcel()"></td> 
            <td><button class="btn btn-primary" id="btn2" type="submit"(click)="addParcel()">Add</button></td> 
        </tr>  
      </tbody>  
    </table>  
   </div>  
  </form>